/*
 * ReportingSettlementResearchApiLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

package com.worldpay.cert.apis.apis;

import com.worldpay.cert.apis.ApiHelper;
import com.worldpay.cert.apis.Server;
import com.worldpay.cert.apis.exceptions.ApiException;
import com.worldpay.cert.apis.exceptions.SettlementsDailyTotalsSearch0ErrorException;
import com.worldpay.cert.apis.http.request.HttpMethod;
import com.worldpay.cert.apis.http.response.ApiResponse;
import com.worldpay.cert.apis.models.SettlementsDailyTotalsSearchRequest;
import com.worldpay.cert.apis.models.SettlementsDailyTotalsSearchResponse;
import io.apimatic.core.ApiCall;
import io.apimatic.core.ErrorCase;
import io.apimatic.core.GlobalConfiguration;
import io.apimatic.coreinterfaces.http.request.ResponseClassType;
import java.io.IOException;
import java.util.UUID;
import java.util.concurrent.CompletableFuture;
import java.util.concurrent.CompletionException;

/**
 * This class lists all the endpoints of the groups.
 */
public final class SettlementDailyTotalsApi extends BaseApi {

    /**
     * Initializes the controller.
     * @param globalConfig    Configurations added in client.
     */
    public SettlementDailyTotalsApi(GlobalConfiguration globalConfig) {
        super(globalConfig);
    }

    /**
     * Retrieve the settled transactions daily financial activity for a given hierarchy and date
     * range. Optional fields help refine the search.
     * @param  body  Required parameter:
     * @param  vCorrelationId  Optional parameter: Correlation Id
     * @return    Returns the SettlementsDailyTotalsSearchResponse wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<SettlementsDailyTotalsSearchResponse> searchSettlementsDailyTotals(
            final SettlementsDailyTotalsSearchRequest body,
            final UUID vCorrelationId) throws ApiException, IOException {
        return prepareSearchSettlementsDailyTotalsRequest(body, vCorrelationId).execute();
    }

    /**
     * Retrieve the settled transactions daily financial activity for a given hierarchy and date
     * range. Optional fields help refine the search.
     * @param  body  Required parameter:
     * @param  vCorrelationId  Optional parameter: Correlation Id
     * @return    Returns the SettlementsDailyTotalsSearchResponse wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<SettlementsDailyTotalsSearchResponse>> searchSettlementsDailyTotalsAsync(
            final SettlementsDailyTotalsSearchRequest body,
            final UUID vCorrelationId) {
        try {
            return prepareSearchSettlementsDailyTotalsRequest(body, vCorrelationId).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for searchSettlementsDailyTotals.
     */
    private ApiCall<ApiResponse<SettlementsDailyTotalsSearchResponse>, ApiException> prepareSearchSettlementsDailyTotalsRequest(
            final SettlementsDailyTotalsSearchRequest body,
            final UUID vCorrelationId) {
        return new ApiCall.Builder<ApiResponse<SettlementsDailyTotalsSearchResponse>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/settlements/daily-totals/search")
                        .bodyParam(param -> param.value(body))
                        .bodySerializer(() ->  ApiHelper.serialize(body))
                        .headerParam(param -> param.key("Content-Type")
                                .value("application/json").isRequired(false))
                        .headerParam(param -> param.key("v-correlation-id")
                                .value(vCorrelationId).isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .add("api_key"))
                        .httpMethod(HttpMethod.POST))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, SettlementsDailyTotalsSearchResponse.class))
                        .nullify404(false)
                        .localErrorCase(ErrorCase.DEFAULT,
                                 ErrorCase.setReason("Default errors",
                                (reason, context) -> new SettlementsDailyTotalsSearch0ErrorException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }
}