/*
 * ReportingSettlementResearchApiLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

package com.worldpay.cert.apis.apis;

import com.worldpay.cert.apis.ApiHelper;
import com.worldpay.cert.apis.Server;
import com.worldpay.cert.apis.exceptions.ApiException;
import com.worldpay.cert.apis.exceptions.SettlementerrorsPendingsettlementbatchesSearch0ErrorException;
import com.worldpay.cert.apis.exceptions.SettlementerrorsSettlementfileerrorsSearch0ErrorException;
import com.worldpay.cert.apis.http.request.HttpMethod;
import com.worldpay.cert.apis.http.response.ApiResponse;
import com.worldpay.cert.apis.models.SettlementerrorsPendingsettlementbatchesSearchRequest;
import com.worldpay.cert.apis.models.SettlementerrorsPendingsettlementbatchesSearchResponse;
import com.worldpay.cert.apis.models.SettlementerrorsSettlementfileerrorsSearchRequest;
import com.worldpay.cert.apis.models.SettlementerrorsSettlementfileerrorsSearchResponse;
import io.apimatic.core.ApiCall;
import io.apimatic.core.ErrorCase;
import io.apimatic.core.GlobalConfiguration;
import io.apimatic.coreinterfaces.http.request.ResponseClassType;
import java.io.IOException;
import java.util.UUID;
import java.util.concurrent.CompletableFuture;
import java.util.concurrent.CompletionException;

/**
 * This class lists all the endpoints of the groups.
 */
public final class SettlementErrorsApi extends BaseApi {

    /**
     * Initializes the controller.
     * @param globalConfig    Configurations added in client.
     */
    public SettlementErrorsApi(GlobalConfiguration globalConfig) {
        super(globalConfig);
    }

    /**
     * Search settlement rejections.
     * @param  body  Required parameter:
     * @param  vCorrelationId  Optional parameter: Correlation Id
     * @return    Returns the SettlementerrorsSettlementfileerrorsSearchResponse wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<SettlementerrorsSettlementfileerrorsSearchResponse> searchSettlementRejects(
            final SettlementerrorsSettlementfileerrorsSearchRequest body,
            final UUID vCorrelationId) throws ApiException, IOException {
        return prepareSearchSettlementRejectsRequest(body, vCorrelationId).execute();
    }

    /**
     * Search settlement rejections.
     * @param  body  Required parameter:
     * @param  vCorrelationId  Optional parameter: Correlation Id
     * @return    Returns the SettlementerrorsSettlementfileerrorsSearchResponse wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<SettlementerrorsSettlementfileerrorsSearchResponse>> searchSettlementRejectsAsync(
            final SettlementerrorsSettlementfileerrorsSearchRequest body,
            final UUID vCorrelationId) {
        try {
            return prepareSearchSettlementRejectsRequest(body, vCorrelationId).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for searchSettlementRejects.
     */
    private ApiCall<ApiResponse<SettlementerrorsSettlementfileerrorsSearchResponse>, ApiException> prepareSearchSettlementRejectsRequest(
            final SettlementerrorsSettlementfileerrorsSearchRequest body,
            final UUID vCorrelationId) {
        return new ApiCall.Builder<ApiResponse<SettlementerrorsSettlementfileerrorsSearchResponse>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/settlementerrors/settlementfileerrors/search")
                        .bodyParam(param -> param.value(body))
                        .bodySerializer(() ->  ApiHelper.serialize(body))
                        .headerParam(param -> param.key("Content-Type")
                                .value("application/json").isRequired(false))
                        .headerParam(param -> param.key("v-correlation-id")
                                .value(vCorrelationId).isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .add("api_key"))
                        .httpMethod(HttpMethod.POST))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, SettlementerrorsSettlementfileerrorsSearchResponse.class))
                        .nullify404(false)
                        .localErrorCase(ErrorCase.DEFAULT,
                                 ErrorCase.setReason("Default errors",
                                (reason, context) -> new SettlementerrorsSettlementfileerrorsSearch0ErrorException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * Search bank card rejections.
     * @param  body  Required parameter:
     * @param  vCorrelationId  Optional parameter: Correlation Id
     * @return    Returns the SettlementerrorsPendingsettlementbatchesSearchResponse wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<SettlementerrorsPendingsettlementbatchesSearchResponse> searchBankCardRejects(
            final SettlementerrorsPendingsettlementbatchesSearchRequest body,
            final UUID vCorrelationId) throws ApiException, IOException {
        return prepareSearchBankCardRejectsRequest(body, vCorrelationId).execute();
    }

    /**
     * Search bank card rejections.
     * @param  body  Required parameter:
     * @param  vCorrelationId  Optional parameter: Correlation Id
     * @return    Returns the SettlementerrorsPendingsettlementbatchesSearchResponse wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<SettlementerrorsPendingsettlementbatchesSearchResponse>> searchBankCardRejectsAsync(
            final SettlementerrorsPendingsettlementbatchesSearchRequest body,
            final UUID vCorrelationId) {
        try {
            return prepareSearchBankCardRejectsRequest(body, vCorrelationId).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for searchBankCardRejects.
     */
    private ApiCall<ApiResponse<SettlementerrorsPendingsettlementbatchesSearchResponse>, ApiException> prepareSearchBankCardRejectsRequest(
            final SettlementerrorsPendingsettlementbatchesSearchRequest body,
            final UUID vCorrelationId) {
        return new ApiCall.Builder<ApiResponse<SettlementerrorsPendingsettlementbatchesSearchResponse>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/settlementerrors/pendingsettlementbatches/search")
                        .bodyParam(param -> param.value(body))
                        .bodySerializer(() ->  ApiHelper.serialize(body))
                        .headerParam(param -> param.key("Content-Type")
                                .value("application/json").isRequired(false))
                        .headerParam(param -> param.key("v-correlation-id")
                                .value(vCorrelationId).isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .add("api_key"))
                        .httpMethod(HttpMethod.POST))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, SettlementerrorsPendingsettlementbatchesSearchResponse.class))
                        .nullify404(false)
                        .localErrorCase(ErrorCase.DEFAULT,
                                 ErrorCase.setReason("Default errors",
                                (reason, context) -> new SettlementerrorsPendingsettlementbatchesSearch0ErrorException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }
}