/*
 * ReportingSettlementResearchApiLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

package com.worldpay.cert.apis.apis;

import com.worldpay.cert.apis.ApiHelper;
import com.worldpay.cert.apis.Server;
import com.worldpay.cert.apis.exceptions.ApiException;
import com.worldpay.cert.apis.exceptions.SearchDate0ErrorException;
import com.worldpay.cert.apis.exceptions.SearchStore0ErrorException;
import com.worldpay.cert.apis.http.request.HttpMethod;
import com.worldpay.cert.apis.http.response.ApiResponse;
import com.worldpay.cert.apis.models.SearchDateRequest;
import com.worldpay.cert.apis.models.SearchDateResponse;
import com.worldpay.cert.apis.models.SearchStoreRequest;
import com.worldpay.cert.apis.models.SearchStoreResponse;
import io.apimatic.core.ApiCall;
import io.apimatic.core.ErrorCase;
import io.apimatic.core.GlobalConfiguration;
import io.apimatic.coreinterfaces.http.request.ResponseClassType;
import java.io.IOException;
import java.util.UUID;
import java.util.concurrent.CompletableFuture;
import java.util.concurrent.CompletionException;

/**
 * This class lists all the endpoints of the groups.
 */
public final class SettlementBatchesApi extends BaseApi {

    /**
     * Initializes the controller.
     * @param globalConfig    Configurations added in client.
     */
    public SettlementBatchesApi(GlobalConfiguration globalConfig) {
        super(globalConfig);
    }

    /**
     * Search settlement batches grouped by store.
     * @param  body  Required parameter:
     * @param  vCorrelationId  Optional parameter: Correlation Id
     * @return    Returns the SearchStoreResponse wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<SearchStoreResponse> searchSettlementBatchesStore(
            final SearchStoreRequest body,
            final UUID vCorrelationId) throws ApiException, IOException {
        return prepareSearchSettlementBatchesStoreRequest(body, vCorrelationId).execute();
    }

    /**
     * Search settlement batches grouped by store.
     * @param  body  Required parameter:
     * @param  vCorrelationId  Optional parameter: Correlation Id
     * @return    Returns the SearchStoreResponse wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<SearchStoreResponse>> searchSettlementBatchesStoreAsync(
            final SearchStoreRequest body,
            final UUID vCorrelationId) {
        try {
            return prepareSearchSettlementBatchesStoreRequest(body, vCorrelationId).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for searchSettlementBatchesStore.
     */
    private ApiCall<ApiResponse<SearchStoreResponse>, ApiException> prepareSearchSettlementBatchesStoreRequest(
            final SearchStoreRequest body,
            final UUID vCorrelationId) {
        return new ApiCall.Builder<ApiResponse<SearchStoreResponse>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/search/store")
                        .bodyParam(param -> param.value(body))
                        .bodySerializer(() ->  ApiHelper.serialize(body))
                        .headerParam(param -> param.key("Content-Type")
                                .value("application/json").isRequired(false))
                        .headerParam(param -> param.key("v-correlation-id")
                                .value(vCorrelationId).isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .add("api_key"))
                        .httpMethod(HttpMethod.POST))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, SearchStoreResponse.class))
                        .nullify404(false)
                        .localErrorCase(ErrorCase.DEFAULT,
                                 ErrorCase.setReason("Default errors",
                                (reason, context) -> new SearchStore0ErrorException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * Search settlement batches grouped by date.
     * @param  body  Required parameter:
     * @param  vCorrelationId  Optional parameter: Correlation Id
     * @return    Returns the SearchDateResponse wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<SearchDateResponse> searchSettlementBatchesDate(
            final SearchDateRequest body,
            final UUID vCorrelationId) throws ApiException, IOException {
        return prepareSearchSettlementBatchesDateRequest(body, vCorrelationId).execute();
    }

    /**
     * Search settlement batches grouped by date.
     * @param  body  Required parameter:
     * @param  vCorrelationId  Optional parameter: Correlation Id
     * @return    Returns the SearchDateResponse wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<SearchDateResponse>> searchSettlementBatchesDateAsync(
            final SearchDateRequest body,
            final UUID vCorrelationId) {
        try {
            return prepareSearchSettlementBatchesDateRequest(body, vCorrelationId).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for searchSettlementBatchesDate.
     */
    private ApiCall<ApiResponse<SearchDateResponse>, ApiException> prepareSearchSettlementBatchesDateRequest(
            final SearchDateRequest body,
            final UUID vCorrelationId) {
        return new ApiCall.Builder<ApiResponse<SearchDateResponse>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/search/date")
                        .bodyParam(param -> param.value(body))
                        .bodySerializer(() ->  ApiHelper.serialize(body))
                        .headerParam(param -> param.key("Content-Type")
                                .value("application/json").isRequired(false))
                        .headerParam(param -> param.key("v-correlation-id")
                                .value(vCorrelationId).isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .add("api_key"))
                        .httpMethod(HttpMethod.POST))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, SearchDateResponse.class))
                        .nullify404(false)
                        .localErrorCase(ErrorCase.DEFAULT,
                                 ErrorCase.setReason("Default errors",
                                (reason, context) -> new SearchDate0ErrorException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }
}